<p>Here is an example:</p>
<%= link_to "Forums", forem.root_path %>
<br/>
<%= link_to "Sign in", main_app.signin_path  %>
<br/>
<%= link_to "Forem Admin", forem.admin_root_url %>
<br/>
<%= link_to "Sign out", main_app.signout_path, method: "delete"  %>
